<div style="margin-left: 500px; margin-top: 150px;">



<ng-container  *ngIf="tableData.length >0" > 
  <table>

   <div *ngIf="!editing">
      <img [src]="profileImageUrl" alt="Profile Image" style="height: 310px; width: 325px;">
        <!-- <img [src]="dt.imagepath" style="height: 350px;" > -->
      <!-- <img src="https://media.istockphoto.com/id/1365436662/photo/successful-partnership.jpg?s=612x612&w=0&k=20&c=B1xspe9Q5WMsLc7Hc9clR8MWUL4bsK1MfUdDNVNR2Xg=" alt=""> -->
      <button (click)="startEditing()" class="btn btn-primary">Edit Image</button> &nbsp;
      
    </div>
    <div *ngIf="editing">
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="cancelEditing()">Cancel</button>
      <button (click)="saveImage()">Save</button>
    </div>
    


<!-- <table *ngFor="let dt of tableData">
    -->
<br>

<br>
<img [src]="allData.imagepath" style="height: 350px;" >
<!-- <button (click)="startEditing()" class="btn btn-primary">Edit Image</button> &nbsp; -->
<br>
i am {{allData.firstname}}
{{allData.lastname}}
and im above {{allData.age}} years old you
<br>
can send your mail to  <a href="">{{allData.email}}</a> i live in the state of 
<br>
{{allData.state}} I like to play  {{allData.tags}}
And Please send me newsletter
<br>
please reach out to me on my mobile number




<button class="btn btn-info" (click)="UpdateDt(allData)"    

data-bs-toggle="modal"
data-bs-target="#staticBackdrop">Edit Profile</button>


   
   </table> 
  
   <br>              
   <button class="btn btn-warning" routerLink="" style="margin-left: 150px;">I Agree</button>

</ng-container> 
   
</div>


<!-- <router-outlet></router-outlet> -->